.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}
.search {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 200px;
}