.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}
.search {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 200px;
}
.topbar{
    list-style-type: none;
    display: inline;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

li{
    padding: 8px;
}

button {
    margin: auto;
    display: block;
    padding: 0;
    opacity: 0.6;
}
button:hover{opacity: 1;}

ul.bottom {
    background-color: rgb(230, 218, 218);
    position: absolute;
    bottom: 0;
    list-style-type: none;
    display: inline;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}